/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.py-50{padding: 50px 0;} .py-20{padding: 20px 0;}  .py-100{padding: 150px 0;}
.pt-100{padding-top: 100px;}
.pb-50{padding-bottom: 50px;}
.nav-link-hover:hover {
    color:brown !important;
    padding-bottom: 5px !important; 
    border-bottom: 2px solid transparent; 
    transition: all 2s ease-in-out; 
}
.ff {font-family: 'Courier New', Courier, monospace;}
.line-container{
  display: flex;
  align-items: center; 
  justify-content: center; 
  /* width: 50%;
  margin: 20px auto;  */
}

.line-container h5 {
  white-space: nowrap; 
  font-size: 24px;
  color: #333;
  padding: 0 10px;
  position: relative; 
  z-index: 1; 
  background-color: white; 
}
.line-container h5::before {
  content: ""; 
  display: block;
  position: absolute;
  top: 50%; 
  right: 100%; 
  width: 40vw;
  height: 1px; 
  background-color: #ccc; 
}
.line-container h5::after {
  content: ""; 
  display: block;
  position: absolute;
  top: 50%; 
  left: 100%; 
  width: 40vw; 
  height: 1px; 
  background-color: #ccc; 
}
@media (max-width: 575.98px) {
    .line-container h5::before,
    .line-container h5::after {
        display: none;
    }
    .line-container h5 {
        font-size: 1rem; 
        padding: 0; 
    }
}
.bg{ background-color: #eef4f6;} .bg-2{background-color: rgb(248, 247, 244);}
.color{color: black;}
.color:hover{color: rgb(114, 112, 112);}
.brown{color: brown;}
.w-10{width: 10%;}

.c-btn{
  background-color: brown;
  border: 1px solid brown;
  width: 100%;
  color: #fff;
  border-radius: 10px;
  &:hover{
    background-color: rgb(52, 2, 2);
  }
}
.card{
  width: 300px;
  margin: 20px;
  background-color: #ffffff; 
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &hover{
    transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}
.card-body {
  padding: 20px;
  color: #333;
  line-height: 1.6;
}
.card-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color:brown;
  color:#fff; 
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.2s ease;
  &:hover{
     background-color:rgb(73, 4, 4);
  }
}
.image-container {
  position: relative;
  display: inline-block; 
  overflow: hidden; 
}
.image-container .img {
  transition: transform 0.3s ease-in-out; 
  display: block;
}
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(141, 84, 84, 0.6); 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-overlay .overlay-text {
  color: white;
  transform: translateY(50px);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.image-container:hover .image-overlay { opacity: 1;}
.image-container:hover .overlay-text {opacity: 1; }
.image-container:hover .img {transform: scale(1.09);}
.sticky-logo-container {
    position: fixed; 
    right: 0; 
    top: 70%; 
    transform: translateY(-50%);
    z-index: 1000; 
    padding: 10px;
    background-color:#fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s; 
}
.app-logo-icon {color: brown; display: block;}
/* .sticky-logo-container:hover { background-color: rgb(70, 1, 1); cursor: pointer;} */
